{% extends "template/base.html" %}
{% load humanize %}
{% block style %}
{% endblock style %}
{% block script %}
    <script src=" https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.10/index.global.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('event-calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap5',
                timeZone: 'Asia/Taipei',
                headerToolbar: {
                    left: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                initialView: 'dayGridMonth',
                eventSources: [
                    {
                        url: '{% url 'reservation_show' id=reservation.id %}',
                        method: 'GET',
                        extraParams: {
                            type: 'calendar',
                        },
                        failure: function() {
                            alert('there was an error while fetching events!');
                        },
                    }
                ],
                footerToolbar: {
                    center: 'prev,today,next',
                },
                dayMaxEvents: true, // allow "more" link when too many events
          });
        
          calendar.render();
    });

    </script>
{% endblock script %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <h1>{{ reservation.event_name }}</h1>
                                <p>{{ reservation.start_date | date:"F j, Y" }}</p>
                                {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
                                <h4>Reservation Details</h4>
                                <table class="mb-3 table">
                                    <tr>
                                        <td class="col-3">Status:</td>
                                        <td class="col">
                                            <span class="{{ reservation.status_badge }}">{{ reservation.status }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-3">Start Time:</td>
                                        <td class="col">{{ reservation.start_time | time:'H:i A' }}</td>
                                    </tr>
                                    <tr>
                                        <td >End Time:</td>
                                        <td>{{ reservation.end_time | time:'H:i A' }}</td>
                                    </tr>
                                    <tr>
                                        <td >Duration:</td>
                                        <td>{{ reservation.duration }} hours</td>
                                    </tr>
                                    {% if show_extend_button and reservation.status != "Completed" %}
                                    <tr>
                                        <td >Add to calendar:</td>
                                        <td>
                                            <a href="{% url 'reservation_feed' id=reservation.id %}" class="btn btn-primary btn-sm"><i class="bi bi-calendar me-1"></i>Ical File</a>
                                            <a href="{% url 'google_calendar_link' id=reservation.id model='reservation' %}" class="btn btn-success btn-sm"><i class="bi bi-google me-1"></i> Google Calendar</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td >Actions:</td>
                                        <td>
                                            <a href="{% url 'reservation_extend' id=reservation.id %}" class="btn btn-info btn-sm">Extend Reservation</a>
                                            <a href="{% url 'cancel_reservation' reservation_id=reservation.id %}"
                                            class="btn btn-danger btn-sm"></i>Cancel Reservation</a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </table>
                                <h4>Attendees</h4>
                                <div class="container-flex text-end">
                                    {% if show_extend_button and reservation.status != "Completed" %}
                                    <a href="{% url 'reservation_attendee_add' reservation_id=reservation.id %}"
                                       class=" btn btn-primary btn-sm">
                                        Add Attendee <i class="bi bi-plus"></i>
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="col-1">No</th>
                                                    <th scope="col" class="col-5">Name</th>
                                                    <th scope="col" class="col-3">Status</th>
                                                    <th scope="col" class="col-3">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for attendee in attendees %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ attendee.name }}</td>
                                                        <td>{{ attendee.response_status }}</td>
                                                        <td>
                                                            <a href="{% url 'reservation_attendee_show' reservation_id=reservation.id attendee_id=attendee.id %}" class="btn btn-sm btn-success" >View</a>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr class="no-data text-center">
                                                        <td colspan="4">No attendee</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="card-title">{{ reservation.room.name }}</h1>
                                                <h5>Room Details</h5>
                                                <p class="card-text mb-0">Size: {{ reservation.room.size }}m²</p>
                                                <p class="card-text mb-0">Capacity: {{ reservation.room.capacity|intcomma }} people</p>
                                                <p class="card-text mb-0">Location: {{ reservation.room.location }}</p>
                                                <p class="card-text">Price: Nt${{ reservation.room.price_per_hour|intcomma }}/hour</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <div id="event-calendar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
