{% extends "template/base.html" %}
{% load humanize %}
{% block style %}

{% endblock style %}
{% block script %}
    
{% endblock script %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1>Register</h1>
                        {{ form.non_field_errors }}
                        <form method="post" action="{% url 'account_register' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                                {{ form.username }}
                                <small class="text-danger">{{ form.username.errors }}</small>
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                                {{ form.email }}
                                <small class="text-danger">{{ form.username.errors }}</small>
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.password1.id_for_label }}" class="form-label">Password</label>
                                {{ form.password1 }}
                                <small class="text-danger">{{ form.password1.errors }}</small>
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password</label>
                                {{ form.password2 }}
                                <small class="text-danger">{{ form.password2.errors }}</small>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-success" type="submit">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
