{% extends 'template/base.html' %}
{% load humanize %}
{% block style %}
    <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css"
          rel="stylesheet"
          type="text/css" />
{% endblock style %}
{% block script %}
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js"
            type="text/javascript"></script>
    <script src=" https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.10/index.global.min.js"></script>
    <script>
    $('.datepicker').datepicker({
        uiLibrary: 'bootstrap5'
    });
    $('.timepicker').timepicker({
        uiLibrary: 'bootstrap5'
    });
    
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('room-calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            timeZone: 'Asia/Taipei',
            initialView: 'dayGridMonth',
            eventSources: [
                    {
                        url: '{% url 'room_show' id=room.id %}',
                        method: 'GET',
                        extraParams: {
                            type: 'calendar',
                        },
                        failure: function() {
                            alert('there was an error while fetching events!');
                        },
                    }
                ],

            headerToolbar: {
                left: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay',
            },
            footerToolbar: {
                center: 'prev,today,next',
            },
            dayMaxEvents: true, // allow "more" link when too many events
          });
        
          calendar.render();
    });

    </script>
{% endblock script %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="card-title">{{ room.name }}</h1>
                                                <h5>Room Details</h5>
                                                <p class="card-text mb-0">Size: {{ room.size }}</p>
                                                <p class="card-text mb-0">Capacity: {{ room.capacity }}</p>
                                                <p class="card-text mb-0">Location: {{ room.location }}</p>
                                                <p class="card-text">Price: Nt${{ room.price_per_hour|intcomma }}/hour</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <h6 class="card-title">Calendar</h6>
                                                <div id="room-calendar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <h1>Reserve Room</h1>
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {{ form.non_field_errors }}
                                <form method="POST" action="{% url "room_reserve" id=room.id %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="{{ form.cc_myself.event_name }}" class="form-label">Event Name</label>
                                        {{ form.event_name }}
                                        <small class="text-danger">{{ form.event_name.errors }}</small>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6 col-md-3">
                                            <label for="{{ form.cc_myself.start_date }}" class="form-label">Date</label>
                                            {{ form.start_date }}
                                            <small class="text-danger">{{ form.start_date.errors }}</small>
                                        </div>
                                        <div class="col-6 col-md-3">
                                            <label for="{{ form.cc_myself.start_time }}" class="form-label">Start Time</label>
                                            {{ form.start_time }}
                                            <small class="text-danger">{{ form.start_time.errors }}</small>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <label for="{{ form.cc_myself.duration }}" class="form-label">Duration</label>
                                            {{ form.duration }}
                                            <small class="text-danger">{{ form.duration.errors }}</small>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <a href="{% url 'room_show' id=room.id %}" class="btn btn-secondary">Cancel</a>
                                        <button class="btn btn-success" type="submit">Pay & Reserve</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
