# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Virtual Environment
venv/
.env/

# Database
db.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Ignore Django migration files
**/migrations/

# Ignore VS Code settings
.vscode/

# Ignore PyCharm settings
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment-specific settings
.env
.env.local
.env.dev
.env.prod

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore Google API files
client_secret.json

