{
    "web": {
        "client_id": "",
        "project_id": "",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://oauth2.googleapis.com/token",
        "auth_provider_x509_cert_url": "",
        "client_secret": "",
        "redirect_uris": [
            "https://room.atrest.xyz/redirect"
        ],
        "javascript_origins": [
            "http://localhost:8000",
        ]
    }
}