{% extends 'template/base.html' %}
{% load humanize %}
{% block style %}
{% endblock style %}
{% block script %}
    <script src=" https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.10/index.global.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('event-calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap5',
                timeZone: 'Asia/Taipei',
                headerToolbar: {
                    left: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                footerToolbar: {
                    center: 'prev,today,next',
                },
                initialView: 'dayGridMonth',
                eventSources: [
                    {
                        url: '{% url 'attendance' id=attendee.id %}',
                        method: 'GET',
                        extraParams: {
                            type: 'calendar',
                        },
                        failure: function() {
                            alert('there was an error while fetching events!');
                        },
                    }
                ],
                dayMaxEvents: true, // allow "more" link when too many events
          });
        
          calendar.render();
    });

    </script>
{% endblock script %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <div id="event-calendar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <h5 class="mb-0">Event</h5>
                                <h1 class="card-title mb-0">{{ reservation.event_name }}</h1>
                                {% if reservation.canceled_at != None %}
                                <div class="alert alert-danger">
                                    This event is canceled.
                                </div>
                                {% endif %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <table class="table">
                                    <tr>
                                        <td class="col-3">Start Date:</td>
                                        <td>{{ reservation.start_date |date:"F j, Y" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="">Event Coordinator:</td>
                                        <td>{{ reservation.user.username }} ({{ reservation.user.email }})</td>
                                    </tr>
                                    <tr>
                                        <td class="">Start Time:</td>
                                        <td>{{ reservation.start_time | time:'H:i A' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="">End Time:</td>
                                        <td>{{ reservation.end_time | time:'H:i A' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="">Venue:</td>
                                        <td>{{ reservation.room.name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="">Location:</td>
                                        <td>{{ reservation.room.location }}</td>
                                    </tr>
                                    <tr>
                                        <td class="">Duration:</td>
                                        <td>{{ reservation.duration }} Hour</td>
                                    </tr>
                                    {% if reservation.canceled_at == None %}
                                    <tr>
                                        <td >Add to calendar:</td>
                                        <td>
                                            <a href="{% url 'reservation_feed' id=attendee.id %}" class="btn btn-primary btn-sm"><i class="bi bi-calendar me-1"></i>Ical File</a>
                                            <a href="{% url 'google_calendar_link' id=attendee.id model='attendee' %}" class="btn btn-success btn-sm"><i class="bi bi-google me-1"></i> Google Calendar</a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
